<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.trabajofinal">

    <!-- Google maps stuff -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Minimum permissions for BeyondAR -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For BeyondAR this is not mandatory unless you want to load something from the network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- BeyondAR needs the following features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:largeHeap="true" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBTfCgWGUfdcobamviCU3eI452nvFa7Br0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registrarse"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuEditarPunto"
            android:screenOrientation="portrait" />
        <activity android:name=".RealidadAumentada" />
        <activity
            android:name=".Detalle"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".VistaSatelital" />
        <activity
            android:name=".ListaMaterialDesign"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubirPuntoAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EliminarPunto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleAdmin"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MostrarImagenesSec"/>
        <activity android:name=".TiposEnumerados.SubirVideo"
            android:screenOrientation="portrait"/>
        <activity android:name=".VerVideo"
            android:screenOrientation="portrait"/>
        <activity android:name=".VerVideoEliminarComentario"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditarPunto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleEditarPunto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarMultimedia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleEditarMultimedia"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".DetalleEditarVideo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AgregarImagenesSec"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgregarVideo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarImagenSec"
            android:screenOrientation="portrait" />
        <activity android:name=".BuscarLocalizacionPunto" />
        <activity
            android:name=".AgregarImagenesSecUsuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ValidarInfoUsuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EliminarComentarios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleEliminarComentarios"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MostrarImagenesSecEliminarComentario"
            android:screenOrientation="portrait" />
        <activity android:name=".EscucharAudio" />
        <activity android:name=".AgregarAudio" />
        <activity
            android:name=".AprobarImgSecUsuarios"
            android:screenOrientation="portrait" />
        <activity android:name=".PuntosCercanos" />
        <activity android:name=".MostrarPuntosMasCercanos" />
        <activity android:name=".VerMapa"></activity>
    </application>

</manifest>